{% extends "page.html" %} {% block head %}
<link rel='stylesheet' href='https://unpkg.com/maplibre-gl@5.6.1/dist/maplibre-gl.css' />
<script src='https://unpkg.com/maplibre-gl@5.6.1/dist/maplibre-gl.js'></script>

{% endblock %} {% block body %}

<div class="row align-items-center mx-3">
  <div class="col-md-4 ml-3 p-0">
    <h4>Collection {{id}}</h4>
  </div>
  <div class="col-md-8">
    <ul class="nav nav-tabs justify-content-end" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button"
          role="tab" aria-controls="tab1" aria-selected="true">Map</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab"
          aria-controls="tab2" aria-selected="false">Info</button>
      </li>
      <li class="nav-item" role="presentation">
        <a href="?f=json">
          <button class="nav-link" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3" type="button" role="tab"
            aria-controls="tab3" aria-selected="false">JSON</button>
        </a>
      </li>
    </ul>
  </div>
</div>

<hr class="m-0" />

<div class="tab-content h-100" id="myTabContent">
  <div class="tab-pane fade show active h-100" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
    <div id="map" class="h-100"></div>
  </div>
  <div class="tab-pane fade mx-3" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
    <table class="w-100">
      <tbody>
        <tr>
          <td class="w-50">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td>DGGSRS</td>
                  <td>{{collection.dggs_pyramid.dggsrs}}</td>
                </tr>
                <tr>
                  <td>Geo BBox</td>
                  <td>{{collection.dggs_pyramid.bbox}}</td>
                </tr>
                <tr>
                  <td>Array size</td>
                  <td>{{size}}</td>
                </tr>
                <tr>
                  <td>Zarr storage</td>
                  <td><code>{{host}}/collections/{{id}}/zarr</code></td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="w-50"><img src="{{id}}/map" /></td>
        </tr>
      </tbody>
    </table>

    <h2>Meta data</h2>

    <table class="table table-striped w-auto">
      <thead>
        <tr>
          <th scope="col">Key</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        {% for meta in metadata %}
        <tr>
          <td>{{meta.key}}</td>
          <td>{{meta.val}}</td>
        </tr>
        {% end %}
      </tbody>
    </table>

    <h2>Layers</h2>
    {% for layer in layers %}
    <h3>{{ layer }}</h3>
    <code>{{host}}/collections/{{id}}/coverage/tiles/WebMercatorQuad/{z}/{x}/{y}?subset=Layer({{layer}})</code>

    {% end %}
  </div>
</div>

<script>
  const map = new maplibregl.Map({
    container: 'map',
    style: {
      version: 8,
      sources: {
        'osm-tiles': {
          type: 'raster',
          tiles: ["https://tile.openstreetmap.org/{z}/{x}/{y}.png"],
          tileSize: 256,
          attribution: '© OpenStreetMap contributors'
        },
        'dggs-tiles': {
          type: 'raster',
          tiles: ["/collections/{{id}}/coverage/tiles/WebMercatorQuad/{z}/{x}/{y}?subset={{map_layer}}"],
          tileSize: 256,
        }
      },
      layers: [
        {
          id: 'osm-tiles',
          type: 'raster',
          source: 'osm-tiles',
          minzoom: 0,
        },
        {
          id: 'dggs-tiles',
          type: 'raster',
          source: 'dggs-tiles',
          minzoom: 0,
        },
      ]
    },
    canvasContextAttributes: { antialias: true }
  });


  map.on('style.load', () => {
    map.setProjection({
      type: 'globe', // Set projection to globe
    });

    map.fitBounds([
      {{ geo_bbox.X[1] }}, {{ geo_bbox.Y[1] }},
    {{ geo_bbox.X[2] }}, {{ geo_bbox.Y[2] }}
      ], {
      linear: true,
      duration: 0,
      padding: 100
    });
    });
</script>
{% endblock %}